<p>Your current budget is <%= @wallet %></p>

Set your Budget:
<form method="post" action="/wallet">

  <label for="value">Amount</label>
  <input type="number" name="budget" id="value"/>

  <input type="submit" value="Add"/>
</form>



<p><%=  %> ee</p>