<p><%=  @wallet %></p>
        <p>Your current budget is<%=  %></p>

        Set your Budget:
        <form method="post" action="/">

          <label for="value">Amount</label>
          <input type="number" name="budget" id="value"/>

          <input type="submit" value="Add"/>
        </form>



        <p><%= @wallet %> ee</p>