<!DOCTYPE html>
<html>
<head>
  <title>Magic Budget</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
</head>
<body>
  <%= yield%>
</body>
</html>