<!DOCTYPE html>
<html>
<head>
  <title>Come up with some nice title</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="navbar">
  <nav>
    <ul>
      <li>
        <a class="n" href="/">Home</a>
        <a class="n" href="/transactions">Transactions</a>
        <a class="n" href="/tags">Tags</a>
        <a class="n" href="/wallet">Budget</a>
      </li>
    </ul>
  </nav>
</div>

  <div class="page">
<%= yield%>
</div>
</body>
</html>