
<!DOCTYPE html>
<html>
<head>
  <title>Come up with some nice title</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Front Page</a>
        <a href="/transactions">All your transactions</a>
        <a href="/tags">tags</a>
        
      </li>
 
    </ul>

  </nav>
<%= yield%>
</body>
</html>