<!DOCTYPE html>
<html>
<head>
  <title>Come up with some nice title</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Front Page</a>

      </li>

    </ul>

  </nav>
<%= yield%>
</body>
</html>