body {
  /*background-image: url("bg.jpg");*/
  background-color: silver;
  /*height: 1200px;*/

}

.transactions {
  /*border-right-radius: 10px;*/
  border: 20px solid darkgrey;
  /*border-left: 20px solid darkgrey;
  border-right: 20px solid darkgrey;
  */

  background: white;
  background-clip: padding-box;
  position:absolute;
  top: 48px;
  right: 20%;
  left: 20%; 
  padding:30px;
  width: 670px;
  background-color:silver;
  z-index: -61;
}

.header {
  background-color: silver;
  width: 1290px;
  height: 50px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  margin-top: -10px;

  border-bottom: 20px solid darkgrey;
  background-clip: padding-box;
}

.setbudget{
text-align: center;
position:absolute;
width:180px;
height:45px;
}

#title-bar{
position:absolute;
left:200px;
width:850px;
height:20px;
}

#title {
text-align: center;
}

.createtag{
text-align: center;
position:absolute;
left:1011px;
width:180px;
height:45px;
}

#budgetbar {
position:absolute;
top:29px;
left:310px;
width:830px;
height:20px;
}

input[type=checkbox] {
  display: none;*/
}
input[type=checkbox] ~ label {
  height: 45px;
  display: block;
}
.content {
  opacity: 0;
  height:0;
  display: block;
}
input[type=checkbox]:checked ~ label ~ .content { 
  background: silver;
  opacity: 100;
  height: 200px;
  width: 209px;
  padding: 16px;
  display: block;
  border-bottom: 20px solid darkgrey;
  border-left: 20px solid darkgrey;
  border-right: 20px solid darkgrey;
  background-clip: padding-box;
  position: relative;
  top:25px;
}

form{


}
