body {
  /*background-image: url("bg.jpg");*/
  background-color: silver;
  /*height: 1200px;*/

}

.transactions {
  border: 20px solid #5e664d;
  background: white;
  background-clip: padding-box;
  position:absolute;
  top: 48px;
  right: 20%;
  left: 20%; 
  padding:30px;
  width: 670px;
  background-color:silver;
  z-index: -61;
}

.header {
  background-color: silver;
  width: 1290px;
  height: 50px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  margin-top: -10px;

  border-bottom: 20px solid #5e664d;
  background-clip: padding-box;
}

.setbudget{
text-align: center;
position:absolute;
width:180px;
height:45px;
}

#title-bar{
position:absolute;
left:200px;
width:850px;
height:20px;
}

#title {
text-align: center;
font-family: 'Baloo', cursive;
font-size: 20px;
color: #5e664d;
}

.createtag{
/*text-align: center;*/
position:absolute;
left:1011px;
width:180px;
height:45px;
}

#budgetbar {
position:absolute;
top:29px;
left:273px;
width:830px;
height:20px;
}

input[type=checkbox] {
  z-index: 70;
  display: none;

}
input[type=checkbox] ~ label {
  position: relative;
  top: 3px;
  left: 40px;
  height: 45px;
  width: 120px;
  display: block;
  text-align: center;
}

.label-toggle{
  position: absolute;
  top: 20px;
  display: block;
  height: 30px;
  width: 120px;
  font-family: 'Baloo', cursive;
  font-size: 20px;
  color: #5e664d;
}
.budget-toggle{
  position: absolute;
  left: 40px;
  top: 20px;
  display: block;
  height: 30px;
  width: 140px;
  font-family: 'Baloo', cursive;
  font-size: 20px;
  color: #5e664d;
}

.content {
  opacity: 0;
  height:0;
  display: block;
}
input[type=checkbox]:checked ~ label ~ .content { 
  background: silver;
  opacity: 100;
  height: 200px;
  width: 209px;
  padding: 16px;
  display: block;
  border-bottom: 20px solid #5e664d;
  border-left: 20px solid #5e664d;
  border-right: 20px solid #5e664d;
  background-clip: padding-box;
  position: relative;
  top:20px;
}

input, select {

  background-color: #718778;
  border-radius: 90px;
}

.delete-button {
  transform: scale(0.7);
  position: relative;
  top: -39px;
  left: 45px;
}

.delete-button-tag {
  transform: scale(0.7);
  position: relative;
  left: 75px;
  top: -20px;
}

.amount-label {
  width: 39px;

}