body {
  background-image: url("bg.jpg");
  /*background-color:#02162f;*/
  height: 1200px;

}

.transactions {
  /*position:fixed;*/

  color:white;
  border-radius: 180px;
  border: 50px solid hsla(0,0%,4%,.4);
  background: white;
  background-clip: padding-box;


  position:absolute;
  top: 70px;
  right: 20%;
  left: 20%; 
 
  width: 800px;
  background-color:#02162f;
}



.header {
  background-color: white;



}

#setbudget{}
#title{}
#createtag{}
#budgetbar {}



