<div class="transactions">
<% @amount = 0 %>
<p><% for transaction in @transaction%>

  Description : <%= transaction.description%>
  value : <%= transaction.value%>
  <% @amount += transaction.value%>
<hr/>
  <% end %>
</p>

  <%= @amount %>
</div>
<a href="/">Go Back</a>