<div class="transactions">
  <% @amount = 0 %>
  
  
    <% for transaction in @transaction%>
      <div class="list-tag-all">

        <div class="list-tag-description">
          <%= transaction.description%>
        </div>
        <div class="list-tag-amount">
          <%= transaction.value%>
        </div>
      </div>
      <% @amount += transaction.value%>

      <hr/>

      
    <% end %>
  
      <div>
      Total spent: £<%= @amount %>
      </div>
<hr/>
<a href="/" style="color:#718778;">Go Back</a>

</div>
